# DayZ Tools build output
*.pbo
*.pbo.*
*.binarized

# Editor & System files
.vs/
.vscode/
Thumbs.db
Desktop.ini
__pycache__/
*.py[cod]

# Project Specific Ignores
*.rvmat
P:/Noronha/data/layers/
data/layers/
